@media (min-width:320px) {
.wrap__tittle {
font-size: 15px;
}
}
@media (min-width:481px) {
.wrap__tittle {
  font-size: 32px;
}
}
@media (min-width:641px) {
  .wrap__tittle {
    font-size: 40px;
  }
}
@media (min-width:961px) {
  .wrap__tittle {
    font-size: 55px;
  }
}
@media (min-width:1025px) {
  .wrap__tittle {
    font-size: 70px;
  }
}
@media (min-width:1281px) {
  .wrap__tittle{
    font-size: 85px;
  }
}
