body{ font-family:arial; }
.nav {
display: flex;
justify-content: flex-end;
background: #008aff;
}
.nav a {
color:#fff;
padding:15px 10px;
text-decoration:none;
text-align:center;
}
.nav a:hover { background:#5c8db7; }

@media all and (max-width: 800px) {
.nav { justify-content: space-around; }
.nav a{ flex-grow:1;
 }
}
@media all and (max-width: 500px) {
.nav { flex-direction: column; }
}
#wrap__toggle {
  opacity: 0;
}
.wrap__btn {
  display: flex;
  align-items: center;
  position: fixed;
  top: 20px;
  left: 20px;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 1;
}
.wrap__btn > span,
.wrap__btn > span::before,
.wrap__btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #616161;
}
.wrap__btn > span::before {
  content: '';
  top: -8px;
}
.wrap__btn > span::after {
  content: '';
  top: 8px;
}
.wrap__box {
  display: block;
  position: fixed;
  visibility: hidden;
  top: 0;
  left: -100%;
  width: 300px;
  height: 100%;
  margin: 0;
  padding: 80px 0;
  list-style: none;
  text-align: center;
  background-color: #ECEFF1;
  box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
}
.wrap__item {
  display: block;
  padding: 12px 24px;
  color: #333;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
}
.wrap__item:hover {
  background-color: #CFD8DC;
}
#wrap__toggle:checked ~ .wrap__btn > span {
  transform: rotate(45deg);
}
#wrap__toggle:checked ~ .wrap__btn > span::before {
  top: 0;
  transform: rotate(0);
}
#wrap__toggle:checked ~ .wrap__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}
#wrap__toggle:checked ~ .wrap__box {
  visibility: visible;
  left: 0;
}
.wrap__btn > span,
.wrap__btn > span::before,
.wrap__btn > span::after {
  transition-duration: .25s;
}
.wrap__box {
  transition-duration: .25s;
}
.wrap__item {
  transition-duration: .25s;
}
